{% extends 'partials/_master.twig' %}

{% block main %}

<section class="section section-record">
    <div class="container">
        <div class="columns">
            <div class="column is-full is-10-desktop">
                {% if record.logo.path is defined and record.logo is not empty %}
                    <img 
                        class="is-128x128 column is-pulled-left is-hidden-mobile pb-1" 
                        src="{{ record.logo.path }}" 
                        alt="{{ record.logo.alt|default(record|title) }}"
                    />
                {% endif %}
                <article role="article" class="content">
                    <h1 class="title is-size-1 is-size-3-mobile">{{ record|title }}</h1>
                    {{ record.content }}
                </article>
                <div class="is-pulled-right mb-6">
                    {% include 'partials/_social_links.twig' %}
                </div>
                <div class="helloassos_form has-ratio" data-url="{{record.formwidget.url}}" width="100%" height="{{record.formwidget.height}}px"></div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}
