        <div class="is-hidden-mobile mt-6">
        <h1 class="title is-size-3">À la Une</h1>
            {% setcontent entries = 'articles' limit 2 orderby 'priority' %}
            {% for entry in entries %}
                <article role="article" class="media columns">
                    <div class="media-content column is-7">
                        <div class="content">
                            <h3 class="title is-size-6 is-size-5-desktop"><a href="{{ entry|link }}">{{ entry|title|excerpt(35) }}</a></h3>
                            {{ entry.teaser|excerpt(85) }}
                        </div>
                    </div>
                    <div class="media-right column">
                        <img src="{{ entry.image|thumbnail(300, 300, fit="crop") }}" alt="{{ entry.image.alt|default(entry|title) }}"/>
                    </div>
                </article>
            {% endfor %}
        </div>