<!doctype html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ seo.title() }}</title>
        {{ seo.metatags() }}
        <link href="https://fonts.googleapis.com/css?family=Bitter|Roboto:400,400i,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/bulma.css', 'theme') }}">
        <link rel="stylesheet" href="{{ asset('css/theme.css', 'theme') }}">

        {# Favicon #}

        <link rel="apple-touch-icon" sizes="180x180" href="{{asset('image/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('image/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('image/favicon-16x16.png')}}">
        <link rel="manifest" href="{{ asset('image/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('image/safari-pinned-tab.svg')}}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

    </head>
    <body{% if app.request.get('_route') == "homepage" %} class="front"{% endif %}>
        <a href="#main-content" class="visually-hidden focusable skip-link">Skip to main content</a>

        {% block body %}

            <header role="banner" class="header">
            {{ include('partials/_navbar.twig') }}
            {% block header %}
                {{ include('partials/_header.twig') }}
            {% endblock %}
            </header>

            {{ widgets('main_top') }}

            <a id="main-content"></a>
            {% block main %}
            {% endblock main %}

            {{ widgets('main_bottom') }}

        {% endblock body %}
        
        {% include "partials/_sub_recent_records.twig" %}

        {{ include('partials/_footer.twig') }}

        <script src="{{ asset('source/node_modules/bulma-carousel/dist/js/bulma-carousel.min.js')}}"></script>
        
         {% block javascripts %}{% endblock %}

    </body>
</html>


