{% extends 'partials/_master.twig' %}

{% block main %}
<section class="section pb-32 pt-16">
    <div class="container mx-auto flex max-w-5xl">
            {% setcontent homepage = "homepage" limit 1 returnsingle %}
            {% if homepage %}
                <div class="lg:w-2/3">
                    {{ homepage.section_introduction }}
                </div>
            {% else %}
                {# Remove this include if you don't need it anymore. #}
                {{ include('partials/_no_content.twig') }}
            {% endif %}
            <div class="w-1/3 hidden lg:block">
                <!-- Your share button code -->
                {% include 'partials/_social_links.twig' %}
                {% include 'partials/_aside_pined_articles.twig' %}
                <div class="mt-6">
                    {% include 'partials/_search_widget.twig' %}
                </div>
                {% include 'partials/_aside_facebook_page.twig' %}
            </div>
    </div>
</section>

{# Pages section #}
    {{ homepage.section_presentation }}

{# Latest entries #}
	{% include 'partials/_listing_view.twig'%}

{# Sponsors #}

<section class="section gradient-info relative">
 {% include 'partials/_sponsors_divider_bottom.twig' %} 
    <div class="container max-w-5xl mx-auto pb-16">
        <div class="w-full my-16">
            <h2 class="text-5xl text-center font-serif font-bold">Nos Partenaires</h2>
        </div>
        <div class="w-full flex flex-wrap items-center justify-center">
        {% for sponsor in homepage.sponsors %}
            <div class="p-2 w-36 md:w-40">
                <a href="{{ sponsor.link }}">
                    <img src="{{ sponsor.logo.url }}" />
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
{% include 'partials/_sponsors_divider_top.twig' %}
</section>

<section class="section pb-16">
    <div class="w-full my-16">
        <h2 class="text-5xl text-center font-serif font-bold">Les Irreductibles</h2>
    </div>
        {% setcontent peoples = 'people' where {groups: 'Irreductibles'}%}
        {% include 'partials/_carousel_people.twig' with {'peoples': peoples} %}
</section>



{% endblock main %}