<div class="mt-6">
    {% if entries is defined %}
            <h1 class="text-3xl text-center lg:text-left font-bold font-serif pl-4 py-3">Articles en lien</h1>
    {% else %}
        <h1 class="text-3xl text-center lg:text-left font-bold font-serif pl-4 py-3">À la Une</h1>
        {% setcontent entries = 'articles' limit 2 orderby 'priority' %}
    {% endif %}
    {% for entry in entries %}
        {% if entry.contenttype in ['articles'] %}
        <div class="flex flex-wrap md:flex-no-wrap rounded-md transition duration-300 hover:bg-melon">
            <div class="p-2 text-sm mx-auto">
                <a href="{{ entry|link }}">
                    <div class="float-right w-1/3 ml-2">
                        <img src="{{ entry.image|thumbnail(150, 150, fit="crop") }}" alt="{{ entry.image.alt|default(entry|title) }}"/>
                    </div>
                    <h3 class="text-md my-1 font-bold font-serif text-red">{{ entry|title|excerpt(35) }}</h3>
                </a>
                <p>
                    {{ entry.teaser|excerpt(85) }}
                </p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>