{% for ct in config.get('contenttypes')|filter(ct => not ct.viewless and not ct.singleton) %}

{% if ct.slug != 'pages' %}
    {% setcontent records = ct.slug latest limit 5 %}

    <div class="lg:w-1/4 md:w-1/2 w-full p-4 relative">
        <h2 class="font-bold text-white tracking-widest text-sm mb-3">{% if ct.slug == 'people' %} MEMBRES {% else %}{{ ct.name|upper }}{% endif %}</h2>

        {% if records|length %}
            <nav class="list-none mb-12">
                <ul>
                    {% for record in records %}
                        <li><a class="hover:underline text-pink-200" href="{{ record|link }}">{{ record|title|excerpt('25')}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <p class="w-48 py-2 mx-auto border-2 border-pink-200 text-pink-200 rounded-md text-center hover:shadow-xl absolute inset-x-0 bottom-0 hover:bg-pink-200 hover:text-pink-800">
                <a class="no-underline" href="{{ path('listing', {'contentTypeSlug': ct.slug}) }}">Tout voir ...</a>
            </p>
        {% else %}
            <p>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</p>
        {% endif %}
    </div>
{% endif %}
{% endfor %}