<div class="container max-w-5xl mx-auto p-5 shadow-xl rounded-xl mt-24 border-t border-b border-l border-r border-red">
        <div class="w-full my-8">
            <h2 class="text-4xl md:text-5xl text-center font-serif font-bold ">Les Machines</h2>
        </div>
            {% setcontent machines = 'machines' %}
            {% set activeTab = 1 %}
            {% if record is defined and record is not null %}
                {% for machine in machines %}
                    {% if machine.title == record.title %}
                        {% set activeTab = loop.index %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        <div x-data="{active: {{ activeTab }}}">
            <div class="flex flex-wrap border border-gray-300 rounded-md overflow-hidden -mb-px">
            {% setcontent machines = 'machines' %}
            {% for machine in machines %}
                <button class="px-4 py-2 flex-grow focus:outline-none hover:bg-red hover:text-white" x-on:click.prevent="active = {{loop.index}}" x-bind:class="{'bg-red text-white': active === {{loop.index}}}">{{machine.title}}</button>               
            {% endfor %}
        </div>
        <div class="">
            {% for machine in machines %}
            <div class="p-4 space-y-2 flex flex-wrap" 
                x-show="active === {{ loop.index }}"
                x-transition:enter="transition ease-out duration-500"
                x-transition:enter-start="opacity-0 transform -translate-x-64"
                x-transition:enter-end="opacity-100 transform translate-x-0">
                
                <div class="w-full lg:w-2/5 p-5">
                    <figure class="max-w-md mx-auto">
                        <img class="" src="{{ machine.image.path }}" alt="{{ machine.logo.alt|default(machine|title) }}"/>
                    </figure>
                </div>
                <div class="w-full lg:w-3/5 p-5 text-center lg:text-left">
                    <article role="article" class="content">
                        <h1 class="text-4xl font-bold font-serif p-3">{{ machine|title }}</h1>
                        <p class="p-2">{{ machine.content }}</p>
                    </article>
                </div>
                <div class="w-full flex flex-wrap items-center justify-center">
                {% for feature in machine.features %}
                    <div class="flex-grow flex flex-col bg-red text-white text-center font-bold font-serif rounded-md p-6 m-1 transition duration-300 hover:bg-red-400">
                        <label class="mb-2 text-center">{{ feature.title }}</label>
                        <label class="">{{ feature.value.value }}</label>
                    </div>
                {% endfor %}
                </div>

            </div>           
            {% endfor %}
        </div>
        </div>
    </div>